#plant_details_container{
  width:100%;
}

#logs_container{
  width:100%;
  overflow:auto;
}

#plant_activity_log_container{
  float:left;
  padding:1em;
  padding-left:10%;
  width:35%;
} 

#plant_growth_log_container{
  float:right;
  padding:1em;
  width:35%;
  padding-right:10%;
}

#plant_gallery{
  padding-right:2em;
  overflow:auto;
}
img { 
  width: 100%;
  height: 100%;
}

#next_activities_container {
  display:flex;
  justify-content:center;
  margin:1em;
  gap:1em;
}
#next_activities_container :nth-child(odd){
  background:var(--bg-color-odd);
}
#next_activities_container :nth-child(even){
  background:var(--bg-color-even);
}

#next_watering, #next_fertilizing {
  text-align:center;
  border-radius: 1em;
  padding:0.5em;
}

#growth_chart { 
  background:var(--bg-color-odd);
  color:var(--fg-color);
  border-radius:0.5em;
}


.health0{
}
.health1{
  background:var(--health-color1);
  float:right;
  border-radius:1em;
  height:1.5em;
  width:1.5em;
}
.health2{
  background:var(--health-color2);
  float:right;
  border-radius:1em;
  height:1.5em;
  width:1.5em;
}
.health3{
  background:var(--health-color3);
  float:right;
  border-radius:1em;
  height:1.5em;
  width:1.5em;

}
.health4{
  background:var(--health-color4);
  float:right;
  border-radius:1em;
  height:1.5em;
  width:1.5em;
}
.health5{
  background:var(--health-color5);
  float:right;
  border-radius:1em;
  height:1.5em;
  width:1.5em;
}
