#next_activities {
  display:flex;
  align-items:stretch;
  align-content:space-around;
  justify-content:center;
  gap:1em;
  flex-wrap:wrap;
  width:95%;
}
.next_activity {
  border-radius:1em;
  padding:0.5em;
  width:5em;
}
.next_activity:nth-child(odd){
  background:var(--bg-color-odd);
}
.next_activity:nth-child(even){
  background:var(--bg-color-even);
}



#recent_updates_container {
  overflow:auto;
}

#recent_growth_container {
  display:inline;
  float:left;
  margin-left:5%;
  width:45%;
}

#recent_activities_container{ 
  display:inline;
  float:right;
  width:45%;
  margin-right:5%;
}
