:root {
  --bg-color: #222327;
  --fg-color: #76cce0;
  --link-color:#9ed072;
  --link-color-visited:#729078;
  --bg-color-odd:#2a2d37;
  --bg-color-even:#425661;
}

body {
 background:var(--bg-color);
 color:var(--fg-color);
 font-family: "Noto Sans";
 font-size: 14pt;
}

h1 {
  text-align:center;
  width:100%;
}
h2 { 
  text-align:center;
  width:100%;
} 

a {
  color:var(--link-color);
}
a:visited{
  color:var(--link-color-visited);
}

ul {
  list-style-type:none;
}

li {
  margin-top:0.5em;
} 
li:nth-child(odd) {
  background:var(--bg-color-odd);
}
li:nth-child(even){
  background:var(--bg-color-even);
}

table {
  border-collapse:collapse;
  margin:auto;
}
tr:nth-child(odd){
  background:var(--bg-color-odd);
}
tr:nth-child(even) {
  background:var(--bg-color-even);
}
td {
  padding-left:1em;
  padding-right:1em;
} 
td:nth-child(odd){
  text-align:right;
}
td:nth-child(even){
  text-align:left;
}

.hidden {
  display:none;
}

#header {
  width:100%;
  margin-bottom:2em;
  margin-top:2em;
   
  display:flex;
  align-items:center;
  align-content:space-around;
  align-self:center;
  justify-content:center;
  gap:1em;
  flex-wrap:none;

  padding-bottom:1em;

  border-top:0px;
  border-right:0px;
  border-left:0px;
  border-bottom:0.5em;
  border-style:solid;
  border-color:var(--bg-color-even);
}

#header > * {
  font-size:16pt;
  text-align:center;
  vertical-align:middle;
  border-radius:1em;
  width:10em;
  height:3em;
}
#header > *:nth-child(odd){
  background:var(--bg-color-odd);
}
#header > *:nth-child(even){
  background:var(--bg-color-even);
}

#footer { 
  width:100%;
  margin-top:2em;
  border-top:0.5em;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-style:solid;
  border-color:var(--bg-color-even);
}
#github_link{
  float:left;
  margin-left:1em;
}
#num_plants{
  float:right;
  margin-right:1em;
}

#header_row {
  font-size: 16pt;
}
#hspace{
  width:1em;
}
#vspace{
  height:2em;
}
