:root {
  --bg-color: #222327;
  --fg-color: #66cce0;
  --link-color:#9ed072;
  --link-color-visited:#72A278;
  --bg-color-odd:#2a2d37;
  --bg-color-even:#425661;
  --bg-color-trans:rgba(22,23,27,0.8);
}

body {
 background:var(--bg-color);
 color:var(--fg-color);
 font-family: "Noto Sans";
 font-size: 14pt;
}

h1 {
  text-align:center;
  width:100%;
}
h2 { 
  text-align:center;
  width:100%;
} 

a {
  color:var(--link-color);
}
a:visited{
  color:var(--link-color-visited);
}

ul {
  list-style-type:none;
}

li {
  margin-top:0.5em;
} 
li:nth-child(odd) {
  background:var(--bg-color-odd);
}
li:nth-child(even){
  background:var(--bg-color-even);
}

table {
  border-collapse:collapse;
  margin:auto;
}
tr:nth-child(odd){
  background:var(--bg-color-odd);
}
tr:nth-child(even) {
  background:var(--bg-color-even);
}
td {
  padding-left:1em;
  padding-right:1em;
} 
td:nth-child(odd){
  text-align:right;
}
td:nth-child(even){
  text-align:left;
}

img {
  cursor:pointer;
}

.hidden {
  display:none;
}

#image_viewer {
  display:none;
  width:100%;
  height:100vh;
  position:fixed;
  overflow:none;
  left:0%;
  top:0%;
  background:var(--bg-color-trans);
}
#close_button{
  position:fixed;
  height:1em;
  width:1em;
  right:8%;
  top:8%;
  font-size:20pt;
  cursor:pointer;
}
#image_box {
  position:relative;
  width:100%;
  height:100%;
  top:10%;
  bottom:10%;
  overflow:auto;
}
#image_viewer_image {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  max-width:90%;
  max-height:80%;
  width:auto;
  height:auto;
}

#header {
  width:100%;
  margin-bottom:2em;
  margin-top:2em;
   
  display:flex;
  align-items:center;
  align-content:space-around;
  align-self:center;
  justify-content:center;
  gap:1em;
  flex-wrap:none;

  padding-bottom:1em;

  border-top:0px;
  border-right:0px;
  border-left:0px;
  border-bottom:0.5em;
  border-style:solid;
  border-color:var(--bg-color-even);
}

#header > * {
  font-size:16pt;
  text-align:center;
  vertical-align:middle;
  border-radius:1em;
  width:10em;
  height:3em;
}
#header > *:nth-child(odd){
  background:var(--bg-color-odd);
}
#header > *:nth-child(even){
  background:var(--bg-color-even);
}

#footer { 
  width:100%;
  margin-top:2em;
  border-top:0.5em;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-style:solid;
  border-color:var(--bg-color-even);
}

#footer > * {
  margin:1em;
  float:right;
}
#github_link {
  float:left;
}

#header_row {
  font-size: 16pt;
}
#hspace{
  width:1em;
}
#vspace{
  height:2em;
}

#all_activities_log {
  width:90%;
}
