#plant_information{
  width:65%;
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:space-around;
  gap:1em;
  padding-right:5%;
}

#plant_details_gallery {
 width:20%;
 float:left;
 padding-left:5%;
 padding-right:5%;
}
.image_plant_container { 
  width:100% !important;
}

#plant_activity_log_container{
  padding:1em;
  padding-left:5%;
  width:35%;
} 

#plant_growth_log_container{
  padding:1em;
  width:35%;
  float:left;
  padding-left:10%;
}

img { 
  width: 100%;
  height: 100%;
}

#next_activities_container {
  display:flex;
  justify-content:center;
  margin:1em;
  gap:1em;
}
#next_activities_container :nth-child(odd){
  background:var(--bg-color-odd);
}
#next_activities_container :nth-child(even){
  background:var(--bg-color-even);
}

#next_watering, #next_fertilizing {
  text-align:center;
  border-radius: 1em;
  padding:0.5em;
}

#growth_chart { 
  background:var(--bg-color-odd);
  color:var(--fg-color);
  border-radius:0.5em;
}

.health{
  --circle-radius:3em;
  border-radius:50%;
  width:var(--circle-radius);
  height:var(--circle-radius);
  line-height:var(--circle-radius);
  text-align:center;
  color:var(--fg-color-dark);
  font-size:18pt;
}

.health0{
  background:var(--health-color0);
}
.health1{
  background:var(--health-color1);
}
.health2{
  background:var(--health-color2);
}
.health3{
  background:var(--health-color3);
}
.health4{
  background:var(--health-color4);
}
.health5{
  background:var(--health-color5);
}
