#footer { 
  width:100%;
  margin-top:2em;
  border-top:0.5em;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-style:solid;
  border-color:var(--bg-color-even);
}
#footer > * {
  margin:1em;
  float:right;
}
#github_link {
  float:left;
}
