#upcoming_tasks_container {
  display:flex;
  align-items:stretch;
  align-content:space-around;
  justify-content:center;
  gap:1em;
  flex-wrap:wrap;
  width:95%;
  margin:auto;
}

#next_watering, #next_fertilizing, #next_growth {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:1em;
}

.next_activity_item {
  border-radius:1em;
  padding:0.5em;
}
.next_activity_item:nth-child(odd){
  background:var(--bg-color-odd);
}
.next_activity_item:nth-child(even){
  background:var(--bg-color-even);
}



#recent_updates_container {
  overflow:auto;
}

#recent_growth_container {
  display:block;
  float:left;
  margin-left:5%;
  margin-right:5%;
  width:40%;
}

#recent_activities_container{ 
  display:block;
  float:right;
  width:40%;
  margin-right:5%;
  margin-left:5%;
}
