#plant_content{
  width:95%;
  display:flow-root;
}

#plant_details_gallery {
 width:20%;
 float:left;
 padding-left:5%;
}
.image_plant_container { 
  width:100% !important;
}
img { 
  width: 100%;
  height: 100%;
}

#plant_growth_log_container{ 
  width:45%;
}

#plant_activities_container{
  width:45%;
}
#watering_table,#fertilizing_table,#activity_table{
  width:30%;
}
#plant_info{ 
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:space-around;
  width:70%;
  float:right;
  gap:1em;
  padding-top:1em;
}


#plant_status{
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:space-around;
  gap:1em;
}

#plant_status :nth-child(odd){
  background:var(--bg-color-odd);
}
#plant_status :nth-child(even){
  background:var(--bg-color-even);
}
.status_item {
  text-align:center;
  border-radius: 1em;
  padding:0.5em;
}


#growth_chart { 
  background:var(--bg-color-odd);
  color:var(--fg-color);
  border-radius:0.5em;
}

.health{
  --circle-radius:3em;
  border-radius:50%;
  width:var(--circle-radius);
  height:var(--circle-radius);
  line-height:var(--circle-radius);
  text-align:center;
  color:var(--fg-color-dark);
  font-size:18pt;
  margin:auto;
}

.health0{
  background:var(--health-color0) !important;
}
.health1{
  background:var(--health-color1) !important;
}
.health2{
  background:var(--health-color2) !important;
}
.health3{
  background:var(--health-color3) !important;
}
.health4{
  background:var(--health-color4) !important;
}
.health5{
  background:var(--health-color5) !important;
}
