#species_content{ 
  width:95%;
}
#species_details_gallery {
 padding-left:5%;
 display:flex;
 flex-wrap:wrap;
 gap:1em;
}
h2 {
  width:100%;
} 
.image_plant_container { 
/*  width:100% !important;*/
}
img { 
  width: 100%;
  height: 100%;
}

#species_info{ 
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:space-around;
  width:70%;
  float:right;
  gap:1em;
  padding-top:1em;
}
